<h1> Random Calculation</h1>

<form action="/random/results">
  <div>
    <label for = "min">
      Minimum
    </label>
    <input type = "number" name = "user_min" placeholder="E.g. 1.5" id = "min">
  </div>
  <div>
    <label for = "max">
      Maximum
    </label>
    <input type = "number" name = "user_max" placeholder="E.g. 4.5" id = "max">
  </div>
  <button>Pick random number</button>
</form>
