<h1> Random Results</h1>

<b>Minimum</b><div>
<%= @user_min%><div>
<b>Maximum</b><div>
<%= @user_max%>
<p></p>
<b>Random Number</b><div>
<%= @rand%>

<p></p>
<a href="/random/results">
  Pick another number
</a>
