<h1> Square Calculation</h1>

<form action="/square/results">
  <div>
    <label for = "number_input">
      Enter a number
    </label>
    <input type = "text" name = "user_number" placeholder="What number do you want to square?" id = "number_input">
  </div>
  <button>Calculate square</button>
</form>
